/* PALETA KOLORÓW
  ##EEEEEE   main one   
  #D6CCC2  second one
  #F5EBE0   third one
  #E3D5CA   navbar links
  #D5BDAF  extra components


  /* kolor skonwertowane na podstawie palety w opencolor
  #ced4da
  #868e96
  
  */
.oferta-heading{
    text-align: center;
    font-size: 8.6rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.oferta-description{
    text-align: center;
    font-size: 4.4rem;
    font-weight: 400;
    color: #91877f;
    margin-bottom: 6.4rem;
}
.swiper {
    width: 100%;
    height: 60rem;
  }

  .swiper-slide {
    padding: 1rem;
    text-align: center;
    font-size: 3.4rem;
    background: #F1DABF;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    margin-top: 6rem;
    margin-bottom: 2rem;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
.card-title{
    margin-bottom: 2rem;
}
  .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .card{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card img{
    height: 30rem;
    width: 30rem;
  }