/* PALETA KOLORÓW
  ##EEEEEE   main one   
  #D6CCC2  second one
  #F5EBE0   third one
  #E3D5CA   navbar links
  #D5BDAF  extra components


  /* kolor skonwertowane na podstawie palety w opencolor
  #ced4da
  #868e96
  
  */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" sans-serif;
  }
  
  html {
    font-size: 62.5%;
    overflow-x: hidden; 
  }
  body {
    color: #555;
    font-family: "Poppins", sans-serif;
    position: relative;
    line-height: 1;
    font-weight: 400;
    overflow-x: hidden;
  }
  
  /* ------------------------------HEADER------------------------------- */
  
  .logo {
    height: 12rem;
    transition: ease-in-out 0.2s;
  }
  .logo:hover {
    transform: scale(106%) rotate(-5deg);
  }
  
  .header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(63, 57, 55, 0.849);
    
    /* adding height because in future i want the navbar to be sticky */
    height: 12rem;
    padding: 0 4.8rem;
  }
  
  /* ------------------------------NAV------------------------------- */
  .main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2.8rem;
  }
  .main-nav-link:link,  
  .main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #e0e0e0;
    font-weight: 500;
    font-size: 2rem;
    transition: all 0.2s;
  }
  .main-nav-link:hover,
  .main-nav-link:active {
    color: #ffb300;
    transform: perspective(1rem) scale(1.05);
  }
  
  .main-nav-link.nav-cta:link,
  .main-nav-link.nav-cta:visited {
    padding: 1.6rem 2.4rem;
    background-color: #D5BDAF;  
    border-radius: 14px;
    color: #000000;
  }
  .main-nav-link.nav-cta:hover,
  .main-nav-link.nav-cta:active {
    background-color: #525252;
    color: #ffb300;
  }
  .dropdown {
    position: relative;
    overflow: visible;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 110%; /* Przesunięcie w dół */   
    left: -100%;
    background-color: #353535;
    padding: 1rem 1rem;
    margin: 0;
    list-style: none;
    display: none; /* Domyślnie ukryte */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out; /* Płynne przejścia */
    opacity: 0;
    visibility: hidden; /* Ukrywa element wizualnie */
  }
  
  .dropdown-menu li {
    padding: 1.5rem 1rem;
  }
  .main-nav-link {
    display: inline-flex; /* Ustawienie tekstu i ikony obok siebie */
    align-items: center; /* Wyśrodkowanie w pionie */
  }
  
  .arrow-icon {
    font-size: 2.6rem; /* Powiększenie ikony */
    margin-left: 0.5rem; /* Odstęp między tekstem a ikoną */
    transition: transform 0.1s ease-in-out; /* Animacja obracania */
    vertical-align: middle; /* Wyrównanie do środka tekstu */
  }
  
  .menu-text {
    font-size: 2rem; /* Rozmiar tekstu dla dopasowania do ikony */
  }
  
  .dropdown:hover .arrow-icon {
    transform: rotate(180deg); /* Obrót ikony w dół */
  }
  
  
  .dropdown-menu a {
    display: block;
    text-decoration: none;  
    color: #e0e0e0;
    font-size: 1.6rem;
    padding: 1rem 1rem;
    transition: background-color 0.2s;
    white-space: nowrap;
    min-width: 200px;
  }
  
  .dropdown-menu a:hover {
    color: #ffd369;
    text-decoration: underline #868e96;
    
  }
  .arrow-icon {
    font-size: 2rem;
    margin-left: .5rem; /* Odstęp między tekstem a ikoną */
    transition: transform 0.3s ease-in-out;
  }
  
  .dropdown:hover .arrow-icon {
    transform: rotate(180deg);
  }
  
  .dropdown:hover .dropdown-menu,
  .dropdown-menu:hover {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  /* MOBILE NAV */
  .btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;
    display: none;
  }
  .icon-mobile-nav[name="close-outline"] {
    display: none;
  }
  
  .icon-mobile-nav {
    height: 4.8rem;
    width: 4.8rem;
    color: #393e46;
  }
  
  /* STICKY NAVIGATION */

  .sticky .header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #353535;
    z-index: 999;
    padding-top: 0;
    padding-bottom: 0;
    height: 14rem;
    box-shadow: 0 1.2rem 3.2rem #393e46ad;
  }

 
  

  
  /* ----------------------------HERO SECTION---------------------------- */
  .sticky .section-hero {
    background-color: #eeeeee;
    padding: 5.2rem 0 19.6rem 0;
  }
  
  .hero {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    gap: 9.6rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .heading-primary {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 3.2rem;
    color: #ffe066;
    margin-top: 20rem;
  }
  .heading-secondary {
    font-weight: 700;
    color: #393e46;
    letter-spacing: -0.5px;
    font-size: 4.2rem;
    line-height: 1.2;
    margin-bottom: 10rem;
  }
  .heading-tertiary {
    font-weight: 700;
    color: #393e46;
    letter-spacing: -0.5px;
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 2.8rem;
  }
  .subheading {
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
    color: #D5BDAF;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
  }
  .hero-description {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 6.8rem;
    color: #F5EBE0;
  }


/* --------------------------------------HOW IT WORKS SECTION---------------------------------- */
.section-how{
  padding: 16.6rem 0 0 0;
}
.step-img{
  width: 45%;
  z-index: 10;
}
.step2_image{
  width: 90%;
}

.step-number{
  font-size: 10rem;
  font-weight: 600;
  color: #868e96;
  margin-bottom: 1.2rem;
}
.step-description{
  font-size: 1.8rem;
  line-height: 1.8;
}
.step-img-box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.step-img-box::before,
.step-img-box::after{
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: #FFD369 ;
  width: 75%;
  padding-bottom: 75%; */
  border-radius: 50%;
}
.step-img-box::before{
  background-color: #F5EBE0 ;
  width: 75%;
  padding-bottom: 75%;
  z-index: -2;
}
.step-img-box::after{
  width: 60%;
  padding-bottom: 60%;
  background-color: #E3D5CA;
  z-index: -1;
}

  


  /* BUTTONS HERO */
  .btn,
  .btn:link,
  .btn:visited, 
  .button_main {
    display: inline-block;
    font-size: 2rem;
    padding: 1.6rem 3.2rem;
    border-radius: 14px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
  }
  .btn--full:link,
  .btn--full:visited {
    background-color: #393e46;
    color: #eeeeee;
  } 
  
  .btn--full:hover,
  .btn--full:active {
    background-color: #1d2024;
    color: #eeeeee;   
  }
  .btn--outline:link,
  .btn--outline:visited {
    background-color: #ffd369;
    color: #393e46;
  }
  .btn--outline:hover,
  .btn--outline:active {
    background-color: #fdc136;
    color: #000000;
  }
  /* very important helping class */
  .margin-right-smf {
    margin-right: 2rem !important;
  } 
  .bg-image {
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("../assets/temporary_main_bg.jpg");
    
  }
  
  

  /* --------------------------------------Footer---------------------------------- */
  .footer {
    margin-top: 110rem;
    padding: 12.8rem 0;
    border-top: 1px solid #eeeeee;
  }
  .grid--footer {
    display: grid;
    row-gap: 9.6rem;
    column-gap: 6.4rem;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  }
  .logo-col {
    display: flex;
    flex-direction: column;
  }
  .logo-footer-fix {
    display: block;
    margin-bottom: 3.2rem;
  }
  .footer-heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 3.2rem;
  }
  .contacts {
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
  }
  .address {
    margin-bottom: 2.4rem;
  }
  .social-links {
    list-style: none;
    display: flex;
    gap: 2.4rem;
  }
  .social-icon {
    height: 2.6rem;
    width: 2.6rem;
    color: #555;
  }
  .copyright {
    font-size: 1.4rem;
    color: #868e96;
    margin-top: auto;
  }
  .logo-footer-fix {
    transition: none;
  }
  .logo-footer-fix:hover {
    transform: none;
  }

  .footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }
  .footer-link:link,
  .footer-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #868e96;
    transition: all 0.3s;
  }
  .footer-link:hover,
  .footer-link:active {
    color: #393e46;
  }
  
  